{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container padding-y-sm">
    <center><h2 class="title-page">About Us</h2></center><br><br>
    <div class="row mb-10">
    <div class="col mb-5">
        <img src="{% static 'images\download.jpg' %}" alt="Khatu shayam Image"style="width: 400px;
        height: 300px;">
    </div>
    <div class="col mb-5">
        <h5> हमारे यहां विशेष
            न्हावण (सूति का स्नान), मूल शांति की पूजा, विवाह, अस्थि संचय, दशगात्र, शीशी पूजन, नींव का मुहूर्त, गृह प्रवेश, शीवजी का अभिषेक व सहस्त्र घट, एकादशी उद्यापन, सत्यनारायण का उद्यापन, गंगा जी का उद्यापन, बालाजी का चोला, आदि सभी प्रकार की हवन-पूजन सामग्री उचित कीमत पर उपलब्ध हैं।<br><br>
            
            सभी प्रकार की धार्मिक पुस्तकें ‌‍(गीताप्रेस व अन्य प्रकाशन की), आसाम की प्रसिद्ध चाय, ड्राई फ्रूट, घर पर शुद्धता के साथ तैयार किए हुए फलाहार सामान, लड्डू गोपाल जी व लड्डू गोपाल जी, माताजी, बालाजी, शिव परिवार, राधे-कृष्णा की पोशाकें (सभी साइज में उपलब्ध)।<br><br>
            
            मार्बल के मंदिर, तुलसी गमले, मार्बल व धातु की बनी मूर्तियां,
            हवन-पूजन के काम आने वाले कांस्य, ताम्र, पीतल व मीट्टी के बने सभी प्रकार के बर्तन आदि उपलब्ध हैं।</h5>
    </div>
</div>
<div class = "text-center">   
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28454.01495545387!2d75.73329952751554!3d26.943079669311942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db315a720890b%3A0x62e301a36716592b!2sKhatu%20Shyam%20Puja%20Ghar!5e0!3m2!1sen!2sin!4v1657292308837!5m2!1sen!2sin" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</section>

{% endblock %}